<html>
<head>
<title>Phan tu HTML DOM trong AngularJS</title>
</head>
<body>
<h2>Ung dung AngularJS</h2>
<div ng-app="">
<table border="0">
<tr>
   <td><input type="checkbox" ng-model="vohieuhoakichhoatnut">Vo hieu hoa nut</td>
   <td><button ng-disabled="vohieuhoakichhoatnut">Nhan vao day!</button></td>
</tr>
<tr>
   <td><input type="checkbox" ng-model="hienthinut">Hien thi nut</td>
   <td><button ng-show="hienthinut">Nhan vao day!</button></td>
</tr>
<tr>
   <td><input type="checkbox" ng-model="annut">An nut</td>
   <td><button ng-hide="annut">Nhan vao day!</button></td>
</tr>
<tr>
   <td><p>Tong luong click: {{ demluongclick }}</p></td>
   <td><button ng-click="demluongclick = demluongclick + 1">Nhan vao day!</button></td>
</tr>
</table>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</body>
</html>

