<html>

<head>
<title>Directive trong AngularJS</title>
</head>

<body>
	<h1>Tao ung dung AngularJS</h1>

	<div ng-app=""
		ng-init="cacquocgia = [{locale:'en-VN',ten:'CH XHCN Viet Nam'}, {locale:'en-GB',ten:'Vuong Quoc Anh'}, {locale:'en-FR',ten:'Cong Hoa Phap'}]">
		<p>
			Nhap ten cua ban: <input type="text" ng-model="ten">
		</p>
		<p>
			Xin chao <span ng-bind="ten"></span>!
		</p>
		<p>Danh sach cac quoc gia va locale tuong ung:</p>

		<ol>
			<li ng-repeat="quocgia in cacquocgia">
				{{ 'Quoc Gia: ' + quocgia.ten + ', Locale: ' + quocgia.locale }}
			</li>
		</ol>
	</div>

	<script
		src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

</body>
</html>